# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# pdm
.pdm.toml

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Video
*.mp4
*.webm
*.mpg
*.mp2
*.mpeg
*.mpe
*.mpv
*.ogg
*.m4p
*.m4v
*.avi
*.wmv
*.mov
*.qt
*.flv
*.swf
*.avchd
*.mp4
*.webm
*.mkv

# Audio
*.mp3
*.m4a
*.flac
*.aac
*.wav
*.dsd
*.ogg
*.wma
*.alac
*.aiff

# Files
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Compressed Files
*.7z
*.zip
*.tar
*.gz
*.bz2
*.xz
*.rar
*.z
*.tgz
*.zipx
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.Z

# Custom
.DS_Store
*.jpg
*.jpeg
bd.json
ms.json
sd.json
*.srt
cha_*.json
ig_*.json
ig_*.jpg
code_dump_*.txt
codedump*.txt
codedump_*.txt
.sandbox/
export_*
cha_hs_*.json
cha_hs_*.txt
history/
searxng/
